$border : #6b705c;
$text-color : #4d2d18;
$button-text-color : #272922;
$focused-button-text-color : #fff;
$focused-button-text-bcc : #6b705c;
$each-item-border : #a5a58d6d;
$outline : #a6a7a2;
$heading-color : rgb(75, 122, 79);




